In [17]:
import pandas as pd 
import numpy as np

In [103]:
df = pd.read_csv("./Data/datosParaHacerEntrenarModelo.csv")
df

,Unnamed: 0,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,...,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,class
0,0,<0,6.0,critical/other existing credit,radio/tv,1169.0,no known savings,>=7,4.0,male single,...,real estate,67.0,none,own,2.0,skilled,1.0,yes,yes,good
1,1,0<=X<200,48.0,existing paid,radio/tv,5951.0,<100,1<=X<4,2.0,female div/dep/mar,...,real estate,22.0,none,own,1.0,skilled,1.0,none,yes,bad
2,3,<0,42.0,existing paid,furniture/equipment,7882.0,<100,4<=X<7,2.0,male single,...,life insurance,45.0,none,for free,1.0,skilled,2.0,none,yes,good
3,4,<0,24.0,delayed previously,new car,4870.0,<100,1<=X<4,3.0,male single,...,no known property,53.0,none,for free,2.0,skilled,2.0,none,yes,bad
4,5,no checking,36.0,existing paid,education,9055.0,no known savings,1<=X<4,2.0,male single,...,no known property,35.0,none,for free,1.0,unskilled resident,2.0,yes,yes,good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
895,995,no checking,12.0,existing paid,furniture/equipment,1736.0,<100,4<=X<7,3.0,female div/dep/mar,...,real estate,31.0,none,own,1.0,unskilled resident,1.0,none,yes,good
896,996,<0,30.0,existing paid,used car,3857.0,<100,1<=X<4,4.0,male div/sep,...,life insurance,40.0,none,own,1.0,high qualif/self emp/mgmt,1.0,yes,yes,good
897,997,no checking,12.0,existing paid,radio/tv,804.0,<100,>=7,4.0,male single,...,car,38.0,none,own,1.0,skilled,1.0,none,yes,good
898,998,<0,45.0,existing paid,radio/tv,1845.0,<100,1<=X<4,4.0,male single,...,no known property,23.0,none,for free,1.0,skilled,1.0,yes,yes,bad
899,999,0<=X<200,45.0,critical/other existing credit,used car,4576.0,100<=X<500,unemployed,3.0,male single,...,car,27.0,none,own,1.0,skilled,1.0,none,yes,good

No se repiten los numeros random

In [104]:
df["personal_status"].value_counts()

male single           490
female div/dep/mar    279
male mar/wid           86
male div/sep           45
Name: personal_status, dtype: int64

In [105]:
df["purpose"].value_counts()

radio/tv               253
new car                197
furniture/equipment    169
used car                97
business                91
education               46
repairs                 19
domestic appliance      10
other                   10
retraining               8
Name: purpose, dtype: int64

In [106]:
df["employment"].value_counts()

1<=X<4        307
>=7           216
4<=X<7        160
<1            160
unemployed     57
Name: employment, dtype: int64

In [107]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 900 entries, 0 to 899
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              900 non-null    int64
 1   checking_status         900 non-null    object
 2   duration                900 non-null    float64
 3   credit_history          900 non-null    object
 4   purpose                 900 non-null    object
 5   credit_amount           900 non-null    float64
 6   savings_status          900 non-null    object
 7   employment              900 non-null    object
 8   installment_commitment  900 non-null    float64
 9   personal_status         900 non-null    object
 10  other_parties           900 non-null    object
 11  residence_since         900 non-null    float64
 12  property_magnitude      900 non-null    object
 13  age                     900 non-null    float64
 14  other_payment_plans     900 non-null    object
 15  housing                 900 non-null    object
 16  existing_credits        900 non-null    float64
 17  job                     900 non-null    object
 18  num_dependents          900 non-null    float64
 19  own_telephone           900 non-null    object
 20  foreign_worker          900 non-null    object
 21  class                   900 non-null    object
dtypes: float64(7), int64(1), object(14)
memory usage: 154.8+ KB

In [108]:
df[df.duplicated()]

Empty DataFrame
Columns: [Unnamed: 0, checking_status, duration, credit_history, purpose, credit_amount, savings_status, employment, installment_commitment, personal_status, other_parties, residence_since, property_magnitude, age, other_payment_plans, housing, existing_credits, job, num_dependents, own_telephone, foreign_worker, class]
Index: []

[0 rows x 22 columns]