In [1]:
import pandas as pd 
import numpy as np

In [4]:
df = pd.read_csv("./Data/datosParaHacerEntrenarModelo.csv")
df

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,...,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,class
0,<0,6.0,critical/other existing credit,radio/tv,1169.0,no known savings,>=7,4.0,male single,none,...,real estate,67.0,none,own,2.0,skilled,1.0,yes,yes,good
1,0<=X<200,48.0,existing paid,radio/tv,5951.0,<100,1<=X<4,2.0,female div/dep/mar,none,...,real estate,22.0,none,own,1.0,skilled,1.0,none,yes,bad
2,<0,42.0,existing paid,furniture/equipment,7882.0,<100,4<=X<7,2.0,male single,guarantor,...,life insurance,45.0,none,for free,1.0,skilled,2.0,none,yes,good
3,<0,24.0,delayed previously,new car,4870.0,<100,1<=X<4,3.0,male single,none,...,no known property,53.0,none,for free,2.0,skilled,2.0,none,yes,bad
4,no checking,36.0,existing paid,education,9055.0,no known savings,1<=X<4,2.0,male single,none,...,no known property,35.0,none,for free,1.0,unskilled resident,2.0,yes,yes,good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
895,no checking,12.0,existing paid,furniture/equipment,1736.0,<100,4<=X<7,3.0,female div/dep/mar,none,...,real estate,31.0,none,own,1.0,unskilled resident,1.0,none,yes,good
896,<0,30.0,existing paid,used car,3857.0,<100,1<=X<4,4.0,male div/sep,none,...,life insurance,40.0,none,own,1.0,high qualif/self emp/mgmt,1.0,yes,yes,good
897,no checking,12.0,existing paid,radio/tv,804.0,<100,>=7,4.0,male single,none,...,car,38.0,none,own,1.0,skilled,1.0,none,yes,good
898,<0,45.0,existing paid,radio/tv,1845.0,<100,1<=X<4,4.0,male single,none,...,no known property,23.0,none,for free,1.0,skilled,1.0,yes,yes,bad
899,0<=X<200,45.0,critical/other existing credit,used car,4576.0,100<=X<500,unemployed,3.0,male single,none,...,car,27.0,none,own,1.0,skilled,1.0,none,yes,good

In [29]:
df.savings_status.value_counts()

<100                550
no known savings    159
100<=X<500           93
500<=X<1000          56
>=1000               42
Name: savings_status, dtype: int64

In [6]:
len(df.columns)

21

In [5]:
df.columns

Index(['checking_status', 'duration', 'credit_history', 'purpose',
       'credit_amount', 'savings_status', 'employment',
       'installment_commitment', 'personal_status', 'other_parties',
       'residence_since', 'property_magnitude', 'age', 'other_payment_plans',
       'housing', 'existing_credits', 'job', 'num_dependents', 'own_telephone',
       'foreign_worker', 'class'],
      dtype='object')

[enlace de informacion de las variables](https://www.kaggle.com/code/pahulpreet/german-credit-risk-analysis-beginner-s-guide/notebook)
- checking_status == estado de cuenta corriente  
Atributo 1: (cualitativo) Estado de cuenta corriente existente
A11: ...<0 MD
A12 : 0 <= ... 200 marcos alemanes
A13 : ... >= 200 DM / asignaciones salariales durante al menos 1 año
A14: sin cuenta corriente
- duration == duracion en meses
- credit_history == Historial de credito



    - A30 : no credits taken/all credits paid back duly
A31 : all credits at this bank paid back duly
A32 : existing credits paid back duly till now
A33 : delay in paying off in the past
A34 : critical account/other credits existing not at this ban


    - A30 : ningún crédito tomado/todos los créditos reembolsados debidamente
A31 : todos los créditos de este banco se han reembolsado debidamente
A32 : créditos existentes reembolsados debidamente hasta ahora
A33 : retraso en el reembolso en el pasado
A34 : cuenta crítica/otros créditos existentes (no en este banco)

- purpose == proposito del credito
    - A40 : car (new)
A41 : car (used)
A42 : furniture/equipment
A43 : radio/television
A44 : domestic appliances
A45 : repairs
A46 : education
A47 : vacation
A48 : retraining
A49 : business
A410 : others
    - A40 : coche (nuevo)
A41 : coche (usado)
A42 : mobiliario/equipamiento
A43 : radio/televisión
A44 : electrodomésticos
A45 : reparaciones
A46 : educación
A47 : vacaciones
A48 : reciclaje
A49 : negocios
A410 : otro
- credit_amount == importe del credito 
- savings_status == Situción de ahorro
- employment == Duracion en el trabajo actual
- installment_commitment == Tasa de pago a plazos en porcentaje de la renta disponible Porcentaje de la renta disponible en cuotas
- personal_status == Estado personas y sexo 
    - A91 : male : divorced/separated
A92 : female : divorced/separated/married
A93 : male : single
A94 : male : married/widowed
A95 : female : single
    - A91 : hombre : divorciado/separado
A92 : mujer : divorciada/separada/casada
A93 : hombre : soltero
A94 : hombre : casado/viudo
A95 : mujer : soltera
- other_parties  Other debtors / guarantors  == otros duedores avalistas 
    - A101 : none
A102 : co-applicant
A103 : guarantor
    - A101 : ninguno
A102 : cosolicitante
A103 : avalista
- residence_since Present residence since  == residencia actual desde 
- property_magnitude property == Propiedades
    - car  == automóvil         
real estate          
life insurance       
no known property  
    - automóvil  
bienes inmuebles  
seguro de vida    
ninguna propiedad conocida
- age == Edad
- other_payment_plans == otros planes de pago a plazos
    -  A141 : bank  
A142 : stores      
A143 : none
    -  A141 : banco  
A142 : tiendas     
A143 : ninguno
- Housing == vivienda 
    - A151 : rent  
A152 : own    
A153 : for free
    - A151 : alquiler  
A152 : en propiedad      
A153 : gratis
- existing_credits Number of existing credits at this bank == numero de tarjetas de credito que tien en el banco (creo que es eso)
- job == trabajo
    - skilled                      
unskilled resident            
high qualif/self-employed/management          
unemp/unskilled non res
    - cualificado                      
residente no cualificado           
alta cualificación/autoempleo/gestión          
no cualificados no residentes
- Number of people being liable to provide maintenance for == Número de personas obligadas a prestar alimentos
- own_telephone == telefono propio
    - none==no    
        yes==si
- foreign worker == trabajador extranjero 
    - none==no    
        yes==si


#### Varible a predecir 
- class == riesgo 
    -  Good Risk == Buen riesgo(se le da el credito)        
    Bad Risk == mal riesgo

In [104]:
df["personal_status"].value_counts()

male single           490
female div/dep/mar    279
male mar/wid           86
male div/sep           45
Name: personal_status, dtype: int64

In [105]:
df["purpose"].value_counts()

radio/tv               253
new car                197
furniture/equipment    169
used car                97
business                91
education               46
repairs                 19
domestic appliance      10
other                   10
retraining               8
Name: purpose, dtype: int64

In [106]:
df["employment"].value_counts()

1<=X<4        307
>=7           216
4<=X<7        160
<1            160
unemployed     57
Name: employment, dtype: int64

In [107]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 900 entries, 0 to 899
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              900 non-null    int64
 1   checking_status         900 non-null    object
 2   duration                900 non-null    float64
 3   credit_history          900 non-null    object
 4   purpose                 900 non-null    object
 5   credit_amount           900 non-null    float64
 6   savings_status          900 non-null    object
 7   employment              900 non-null    object
 8   installment_commitment  900 non-null    float64
 9   personal_status         900 non-null    object
 10  other_parties           900 non-null    object
 11  residence_since         900 non-null    float64
 12  property_magnitude      900 non-null    object
 13  age                     900 non-null    float64
 14  other_payment_plans     900 non-null    object
 15  housing                 900 non-null    object
 16  existing_credits        900 non-null    float64
 17  job                     900 non-null    object
 18  num_dependents          900 non-null    float64
 19  own_telephone           900 non-null    object
 20  foreign_worker          900 non-null    object
 21  class                   900 non-null    object
dtypes: float64(7), int64(1), object(14)
memory usage: 154.8+ KB

In [108]:
df[df.duplicated()]

Empty DataFrame
Columns: [Unnamed: 0, checking_status, duration, credit_history, purpose, credit_amount, savings_status, employment, installment_commitment, personal_status, other_parties, residence_since, property_magnitude, age, other_payment_plans, housing, existing_credits, job, num_dependents, own_telephone, foreign_worker, class]
Index: []

[0 rows x 22 columns]